@{
    ViewData["Title"] = "Criar Mesa";
}

<h2>Criar Nova Mesa</h2>
<hr />

<div class="mb-3">
    <label class="form-label">Nome Mesa</label>
    <input type="text" class="form-control" id="nomeMesa" placeholder="Aventura Louca">
</div>
<div class="mb-3">
    <label class="form-label">Descrição</label>
    <textarea class="form-control" id="descricao" rows="3"></textarea>
</div>
<div class="mb-3">
    <label class="form-label">Quantidade Máxima de Jogadores</label>
    <input type="number" class="form-control" id="qtdMaxJogadores">
</div>

<div class="mb-3">
    <label class="form-label">Imagem</label>
    <form id="uploadImg" method="post" enctype="multipart/form-data">
        <input name="files" class="form-control" type="file" />
    </form>
</div>

<select id="sistema" class="form-select">
    <option selected>Escolha um sistema</option>
</select>
<span id="msg" class="text-success"></span>

<div class="row">
    <div class="col-lg-12" style="margin-bottom: 20px; margin-top: 20px">
        <div class="text-center">
            <button id="criarMesa" type="submit" class="btn btn-primary">Criar Mesa</button>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    var profilePicture;
    function createMesa() {
        uploadImg();
        $.ajax({
            url: '@Url.Action("CreateMesaFunc", "Mesa")',
            type: "POST",
            async: true,
            data: {
                request:
                {
                    nome: $("#nomeMesa").val(),
                    descricao: $("#descricao").val(),
                    qtdMaxJogadores: $("#qtdMaxJogadores").val(),
                    idMestre: @Convert.ToInt32(User.FindFirst("JogadorId").Value),
                    idSistema: $("#sistema").val(),
                    displayPic: profilePicture
                },
            },
            dataType: 'json',
            beforeSend: function() {
                $("#criarMesa").text("Aguarde...");
                $('#criarMesa').attr('disabled', 'disabled');
            },
            success: function(data) {
                $("#criarMesa").text("Mesa Criada");
                $('#criarMesa').attr('disabled', 'disabled');
                $('#msg').html(data.message);
            },
            error: function() {
                $('#criarMesa').attr('disabled', 'disabled');
                $('#msg').html("Erro ao criar mesa");
            }
        });
    }
    
    $("#criarMesa").click(function() {
        createMesa();
    });

    function loadData() {
        $.ajax({
                url: '@Url.Action("GetSistemas", "Sistema")',
                dataType: 'json',
                success: function (data) {
                    var sistema = $('#sistema');
                    $.each(data, function () {
                        sistema.append(
                            $('<option>', {
                                value: this.idSistema
                            }).text(this.nome)
                        );
                    }); 
                },
                error: function () {

                },
        });
    }
    loadData();

    function uploadImg() {

        var formData = new FormData(document.getElementById("uploadImg"));

        var uploadResponse = null;

        $.ajax({
            url: '@Url.Action("UploadProilePic", "Mesa")',
            type: 'POST',
            async: false,
            data: formData,
            success: function(data) {
                uploadResponse = data.message;
            },
            cache: false,
            contentType: false,
            processData: false

        });
        if (uploadResponse == null) {
            uploadResponse == "";
        } else {
            profilePicture = uploadResponse;
        }
    }
</script>