@{    
    ViewData["Title"] = "Mesas";     
} 
<h2>Mesas</h2>
<div class="filtros">
        <div class="row g-3">       
            <div class="col-md">
              <div class="form-floating">
                <select id="sistema" class="form-select"  aria-label="Floating label select example">
                  <option value="0" selected>Todos</option>
                </select>
                <label for="floatingSelectGrid">Filtre por Sistema</label>
              </div>
            </div>
            <button id="filtrar" class="btn btn-outline-primary" type="submit">Filtrar</button>
        </div>
 </div>

 <div class="_CardMesa">
 </div>

    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    function loadData() {
        $.ajax({
                url: '@Url.Action("GetSistemas", "Sistema")',
                dataType: 'json',
                success: function (data) {
                    var sistema = $('#sistema');
                    $.each(data, function () {
                        sistema.append(
                            $('<option>', {
                                value: this.idSistema
                            }).text(this.nome)
                        );
                    }); 
                },
                error: function () {

                },
        });
    }
    loadData();
    $("#filtrar").click(function () {
        loadCardsMesa();

    });

    function loadCardsMesa() {
        $.ajax({
            url: '@Url.Action("_CardsMesa", "Mesa")',
            type: "POST",
            async: true,
            data: {
                request:
                    {
                        Sistema: $("#sistema").val(),
                        isAtivo: 1,
                        IdMesa: 0,
                        Nome: "",
                    }
            },
            dataType: 'text',
            beforeSend: function () {
                $("#filtrar").text("Aguarde...");
                $('#filtrar').attr('disabled', 'disabled');
            },
            success: function (data) {
                $('._CardMesa').html(data);

                $("#filtrar").text("Filtrar");
                $('#filtrar').removeAttr('disabled');
            },
            error: function () {
                $("#filtrar").text("Filtrar");
                $('#filtrar').removeAttr('disabled');
            }
        });
    }
</script>


      
    